<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/vendors/fonts/icon-styles.css">
	<link href='http://fonts.googleapis.com/css?family=Lora|Satisfy:100,300,400,700,900' rel='stylesheet' type='text/css'>

	<link rel="shortcut icon" sizes="32x32" href="/vendors/favicon/favicon.png" type="image/x-icon">

	<title>PANACEA-A Solution To All Problems</title>
</head>

<body>

	<div class="navigation">
		<input type="checkbox" class="navigation__checkbox" id="navi-toggle">
		<label for="navi-toggle" class="navigation__button">
			<span class="navigation__icon">&nbsp;</span>
		</label>

		<div class="navigation__background">&nbsp;</div>
		<nav class="navigation__nav">
			<ul class="navigation__list">
				<li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Support</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Stories</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
			</ul>
		</nav>
	</div>

	
	<header class="header">
		<div class="header__slider--1"></div>
		<div class="header__slider--2"></div>
		<div class="header__slider--3"></div>
		<div class="header__slider--4"></div>
		<div class="header__logo-box">
			<img src="/img/logo.png" alt="Lakeview Logo" class="header__logo">
		</div>
		<div class="header__text-box">
			<h1 class="heading-primary">
				<span class="heading-primary--main">Solutions That Make Sense</span>
				<span class="heading-primary--sub">Let's Shine Together</span>
			</h1>
		</div>
		<div class="header__btn-box">
			<a href= "/register" class="btn btn--brown">Join</a>
			<a href="/dash" class="btn btn--brown">Dashboard</a>
		</div>
	</header>
	<div class="about-section">
		<h2 class="heading-secondary">
			<div class="u-align-center u-margin-bottom-big">
				Panacea : With Everyone For Everyone!
			</div>
		</h2>
		<div class="row">
			<div class="col-1-of-2">
			
				<h3 class="heading-tertiary u-margin-bottom-small">
					Shining Together
				</h3>
				<p class="paragraph">
					Here at PANACEA, our mission goes beyond providing technological solutions. We help our clients achieve the highest level of operational excellence so they can focus on what matters- their core business. Through our comprehensive range of services, we ensure our clients stay ahead in the ever-changing technology landscape and maximize there overall succes. 
				</p>
				<h3 class="heading-tertiary u-margin-bottom-small">
					PANACEA follows three principles of success 
				</h3>
				<p class="paragraph">
					 Be clear about goals. <br> Be open to continuous feedback.<br> Invest your resourse wisely.
				</p>
				<a href="#" class="btn-rectangular">Learn More &rarr;</a>
			</div>
			<div class="col-1-of-2">
				<div class="composition">
					<img srcset="" 
						sizes="(max-width:61.9em) 20vw, (max-width:48em) 21vw, (max-width:36em) 30vw, 252px" 
						class="composition__img composition__img--1" 
						alt="Image 1" 
						src="/img/1.jpg">
					<img srcset="" 
						sizes="(max-width:61.9em) 20vw, (max-width:48em) 21vw, (max-width:36em) 30vw, 252px" 
						class="composition__img composition__img--2" 
						alt="Image 2" 
						src="/img/2.jpg">
					<img srcset="" 
						sizes="(max-width:61.9em) 20vw, (max-width:48em) 21vw, (max-width:36em) 30vw, 252px" 
						class="composition__img composition__img--3" 
						alt="Image 3" 
						src="/img/3.jpg">
				</div>
			</div>
		</div>
	</div>

	<div class="amenities-section">
		<div class="u-align-center u-margin-bottom-big">
			<h2 class="heading-secondary">
					OUR OFFERINGS
				</div>
			</h2>

			<div class="row">
				<div class="col-1-of-4">
					<div class="amenity-box amenity-box--1">
						<div class="amenity-box__overlay"></div>
						<h3 class="amenity-box__title">digital marketing</h3>
						<div class="amenity-box__content">
							<i class="amenity-box__icon icon-basic-globe"></i>
							<h3 class="amenity-box__heading heading-tertiary u-margin-bottom-small">digital marketing</h3>
							<p class="amenity-box__text">
								 We use some of the advanced tactics and practice to deliever best results to you. You can leave this on us.
							</p>
						</div>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="amenity-box amenity-box--2">
						<div class="amenity-box__overlay"></div>
						<h3 class="amenity-box__title">web design</h3>
						<div class="amenity-box__content">
							<i class="amenity-box__icon icon-basic-pencil-ruler"></i>
							<h3 class="amenity-box__heading heading-tertiary u-margin-bottom-small">web design</h3>
							<p class="amenity-box__text">
								We have hired the best designers in the world. They have showcased their talent around the globe, checkout their work. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="amenity-box amenity-box--3">
						<div class="amenity-box__overlay"></div>
						<h3 class="amenity-box__title">branding</h3>
						<div class="amenity-box__content">
							<i class="amenity-box__icon icon-basic-cup"></i>
							<h3 class="amenity-box__heading heading-tertiary u-margin-bottom-small">branding</h3>
							<p class="amenity-box__text">
								We are the strongest brand creator in this industry companies like Amazona,Tesloa are our client. As we say you can see the results.
							</p>
						</div>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="amenity-box amenity-box--4">
						<div class="amenity-box__overlay"></div>
						<h3 class="amenity-box__title">life solutions</h3>
						<div class="amenity-box__content">
							<i class="amenity-box__icon icon-basic-home"></i>
							<h3 class="amenity-box__heading heading-tertiary u-margin-bottom-small">life solutions</h3>
							<p class="amenity-box__text">
								As the name suggest these are the basic solutions that make daily work much more smooth. We have attendance system for employees,To do maker and much more. Explore more.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="testimonials-section">
		<h2 class="heading-secondary">
			<div class="u-align-center u-margin-bottom-big">
			 hear from those whom the world listen
			</div>
		</h2>
		<div class="bg-video">
			<video class="bg-video__content" autoplay muted loop>
				<source src="/img/PANACEA.mp4" type="video/mp4">
			</video> 
			
			<div class="bg-video__overlay"></div>
		</div>

		<div class="row">
			<div class="testimonial testimonial--1">
				<figure class="testimonial__shape">
					<img src="/img/man1.png" class="testimonial__image" alt="Tech boss">
					<figcaption class="testimonial__caption">John Hopkins</figcaption>
				</figure>
				<div class="testimonial__text">
					<h3 class="heading-tertiary u-margin-bottom-small">No Alternative For Panacea</h3>
					<p class="testimonial__para">“PANACEA not only helped us build a brand online, they helped us establish ourselves in quite the competitive industry. We built a name for ourselves on our excellent outpatient care in the community, but Panacea really helped us expand that image online. Thanks to the success of our marketing and outreach campaigns, we can continue to help make a positive impact on the daily lives of the people that depend on us for their care.” </p>
				</div>
			</div>

			<div class="testimonial testimonial--2">
				<figure class="testimonial__shape">
					<img src="/img/woman1.png" class="testimonial__image" alt="tech mam">
					<figcaption class="testimonial__caption">Michigan</figcaption>
				</figure>
				<div class="testimonial__text">
					<h3 class="heading-tertiary u-margin-bottom-small">Always Favourite</h3>
					<p class="testimonial__para">“We’re looking at optimizing our portfolio of brands and leveraging the scale that they bring, and bringing the best talent into our organization, whether it’s directly through employees or through partners like Panacea.”</p>
				</div>
			</div>
		</div>
	</div>

	<div class="membership-section">
		<h2 class="heading-secondary">
			<div class="u-align-center u-margin-bottom-big">
				PLANS: that everyone can afford
			</div>
		</h2>

		<div class="row">
			<div class="col-1-of-3">
				<div class="plan">
					<div class="plan__side plan__side--front">
						<div class="plan__image plan__image--1">
							&nbsp;
						</div>
						<h4 class="plan__heading plan__heading--1"> Regular
						</h4>
						<div class="plan__bullets">
							<ul>
								<li>Least Services</li>
                                <li>No Support</li>
                                <li>Discount On Upgrading To Elite</li>
                                <li>No Seminars Participation</li>
							</ul>
						</div> 
					</div>
					<div class="plan__side plan__side--back plan__side--back-1"> 
						<div class="plan__button">
							<div class="plan__cost-box">
								<p class="plan__cost-value">$4,000</p>
								<p class="plan__cost-duration">/ year</p>
							</div>
							<a href="#" class="btn btn--brown">Join Now</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-1-of-3">
				<div class="plan">
					<div class="plan__side plan__side--front">
						<div class="plan__image plan__image--2">
							&nbsp;
						</div>
						<h4 class="plan__heading plan__heading--2"> Platinum 
						</h4>
						<div class="plan__bullets">
							<ul>
								<li>Personalized Experience</li>
                                <li>Few services</li>
                                <li>10/7 support</li>
                                <li>Access To Seminars Recordings</li>
							</ul>
						</div> 
					</div>
					<div class="plan__side plan__side--back plan__side--back-2"> 
						<div class="plan__button">
							<div class="plan__cost-box">
								<p class="plan__cost-value">$8,000</p>
								<p class="plan__cost-duration">/ year</p>
							</div>
							<a href="#" class="btn btn--brown">Join Now</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-1-of-3">
				<div class="plan">
					<div class="plan__side plan__side--front">
						<div class="plan__image plan__image--3">
							&nbsp;
						</div>
						<h4 class="plan__heading plan__heading--3"> Elite
						</h4>
						<div class="plan__bullets">
							<ul>
                                <li>Personalized Experience</li>
                                <li>All Services</li>
                                <li>24/7 Support</li>
                                <li>Passes For International Seminars</li>
							</ul>
						</div> 
					</div>
					<div class="plan__side plan__side--back plan__side--back-3"> 
						<div class="plan__button">
							<div class="plan__cost-box">
								<p class="plan__cost-value">$10,000</p>
								<p class="plan__cost-duration">/ year</p>
							</div>
							<a href="#" class="btn btn--brown">Join Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="contact-section">
		<h2 class="heading-secondary">
			<div class="u-align-center u-margin-bottom-big">
				Contact Us
			</div>
		</h2>
		<div class="row">
			<div class="contact">
				<div class="contact__form">
					<form class="form" target="#">
						<div class="form__group">
							<input type="text" class="form__input" id="name" placeholder="Full Name" required>
							<label for="name" class="form__label">Full Name</label>
						</div>
						<div class="form__group">
							<input type="email" class="form__input" id="email" placeholder="Email Address" required>
							<label for="email" class="form__label">Email Address</label>
						</div>
						
						<div class="form__group">
							<textarea class="form__textarea" name="message" placeholder="Your message"></textarea>
						</div>
						<div class="form__group">
							<a href="#" class="btn-rectangular btn-rectangular--white">Send &rarr;</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
			<div class="footer__logo-box">
				<picture class="footer__logo">
					
					<img srcset="" src="/img/footlog.png" alt="panacea Logo">
				</picture>
				
			</div>
		<div class="row">
			<div class="col-1-of-2">
				<div class="footer__navigation">
					<ul class="footer__list">
						<li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Careers</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Privacy</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
					</ul>
				</div>
			</div>


			<div class="col-1-of-2">
				<p class="footer__copyright">
					

 <a href="#" class="footer__author">facebook &nbsp;&nbsp; </a>  <a href="#" class="footer__author"> Instagram&nbsp;&nbsp;</a> <a href="#" class="footer__author"> Linkedin</a><br>

				</p>
			</div>

		</div>
	</footer>

</body>
</html>

<div class="intro">
	<div class="intro-text">
		<h1 class="hide">
			<span class="text"> PANACEA </span>
		</h1>
		<h1 class="hide">
			<span class="text"> For everyone </span>
		</h1>
		<h1 class="hide">
			<span class="text"> With everyone </span>
		</h1>
	</div>
</div>
<div class="slider">
	 
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js" integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/JS/script.js"></script>